div input {
    border-width: 1px;
    border-color: blue;
    border-radius: 15px;
    display: block;
    position: absolute;
    width: 400px;
    height: 60px;
}

input:focus {
    outline: none;
}

.right-arrow {
    position: absolute;
    margin: 475px 0 0 985px
}

.cookit-image {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 180px 0 0 750px;
}

.username {
    margin: 400px 0 0 650px;   
}

.password {
    margin: 470px 0 0 650px;
}

body {
    background-image: url('./assets/background.jpg');
}
